@model appTurismoIqq.Modelo.Entidad

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Registro</h2>

<h3>¿Esta seguro que desea eliminar este registro?</h3>
<div>
    <h4>Detalle de registro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagWeb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionEng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionEng)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Volver", "Index")

    </div>
    }
</div>
